body{
    /* background-color: aquamarine; */
}
.p-font{
    font-size: 10px;
}
.butto{
    border-radius: 10px;
    background-color: #0d6efd;
}
.common-color{
    background-color:#FFFFFF;
    color:  #289BDE;
    font-size: 20px;
    font-weight: 600;
    border: none;

}
.price-color{
    color:  #289BDE;

}
.footer-tx-color{
    color: #0d6efd;
}
.bg{
    background-color: #289BDE ;
}
.baton{
    background-color: #289BDE;
    color: #FFFFFF;
    padding: 1% 3%;
    font-weight: 600;
    font-size: 20px;
}

