.p-font{
    font-size: 10px;
}
.butto{
    border-radius: 10px;
    background-color: #0d6efd;
}
.common-color{
    background-color:#FFFFFF;
    color:  #289BDE;

}
.price-color{
    color:  #289BDE;

}
